/*
 * Copyright 2018 GPLv3, Zillexplorer by Mike Kilday: http://DragonFrugal.com
 */
	 #main-wrapper {margin: 0px; padding: 0px; width: 100%; min-height: 100%; height: auto;}
	 
	 #login-nav {
	 padding-top: 10px;
	 }
	 
	 .navbar-nav>li>a {
		padding-left: 13px;
		padding-right: 13px;	 
	 }
	 
    td {
    padding: 8px;
    }
    
    .stats-tables tr:nth-child(odd), .blockchain-tables tr:nth-child(odd) {
    background-color: #e3eff2;
	 }
	 
	 .floating-table { margin-bottom: 30px; margin-right: 8px; min-width: 540px; float: left; }
	 
	 .stats-tables {
	 table-layout: auto; 
	 height: 100%;
	 vertical-align: text-top;
	 }
    
    .stats-tables .table-header, .stats-tables td {
	 vertical-align: text-top;
    }
    
    
    .stats-tables tr {
    padding: 0px; 
    }
    
    #stats_table_1, #stats_table_2 {
    background: none;
    }
    
    
    .table-header {
    padding-left: 5px; border: 2px solid black; border-bottom: 0px solid black; height: 22px;
    }
    
    .no-border {
    border: 0px solid black;
    }
    
    .side-borders {
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    }
    
    .u-borders {
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    }
    
    .all-borders {
    border: 2px solid black;
    }
    
    
    
    .table-header-1deep {
    padding-left: 15px; 
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;  
    height: 22px;
    }
    
    .no-border-1deep {
    padding-left: 15px; 
    border: 0px solid black;
    }
    
    
    .side-borders-1deep {
    padding-left: 15px; 
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    }
    
    .u-borders-1deep {
    padding-left: 15px; 
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    }
    
    
    
    .table-header-2deep {
    padding-left: 30px; 
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black; 
    height: 22px;
    }
    
    .no-border-2deep {
    padding-left: 30px; 
    border: 0px solid black;
    }
    
    
    .side-borders-2deep {
    padding-left: 30px; 
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    }
    
    .u-borders-2deep {
    padding-left: 30px; 
    border: 0px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    }
	 
	 .span-block {padding: 4px; display: block;}
	 
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    footer a {
    color: #9fe5f4;
    }
    footer a:hover {
    color: #8bd2e0;
    }
    
div.tabdiv {
	padding:15px;
	width:auto;
	width: 100%;
	min-height: 150px;
	display:inline-block;
	background:#fff;
                            border: 1px solid #808080;
}

.tabs li {
	list-style:none;
	display:inline;
}


.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#808080;
	color:black;
	text-decoration:none;
}

.tabs a.active {
                            border-top: 1px solid #808080;
                            border-left: 1px solid #808080;
                            border-right: 1px solid #808080;
	background:#fff;
	color:#000;
}
.navbar-default {
    background-color: #c0e5ed;
    border-color: #bcd4d8;
}


    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }