

############################
#  Copyright 2018 GPLv3, Zillexplorer by Mike Kilday: http://DragonFrugal.com
############################

RewriteEngine On
RewriteBase /

### Disallow access to this file
RewriteRule ^\.htaccess$ - [F]

# Always run from HTTPS
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

# Pretty / SEO URL Support #########################
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
 
RewriteRule dsblock/(\d+)*$ ?dsblock=$1
RewriteRule txblock/(\d+)*$ ?txblock=$1
 
RewriteRule live-stats/(.*)$ ?section=live-stats&mode=$1
RewriteRule tokens/(.*)$ ?section=tokens&mode=$1
RewriteRule charts/(.*)$ ?section=charts&mode=$1
RewriteRule mining-calculator/(.*)$ ?section=mining-calculator&mode=$1
RewriteRule broadcast-transaction/(.*)$ ?section=broadcast-transaction&mode=$1
RewriteRule list-accounts/(.*)$ ?section=list-accounts&mode=$1
RewriteRule list-transactions/(.*)$ ?section=list-transactions&mode=$1
RewriteRule activate-account(.*)$ ?section=online-account&mode=activate&key=$1
RewriteRule online-account/(.*)$ ?section=online-account&mode=$1
RewriteRule search/(.*)$ ?q=$1
RewriteRule tx/(.*)$ ?q=$1
RewriteRule address/(.*)$ ?q=$1 [L]

#####################################################